/*
Author: Justin Parsons
Author URI: https://seejustincode.com/
Version: 1.0.0
Template: Insight-Responsive
*/
/* 1.0 sitewide variables -------------------------------------------*/
/* 2.0 Define mobile breakpoints for our site ----------------------*/
/* 3.0 Our page layouts -------------------------------------------*/
.col20 {
  width: 20%; }
  @media (max-width: 600px) {
    .col20 {
      width: 100%; } }
  @media (min-width: 600px) {
    .col20 {
      width: 100%; } }
  @media (min-width: 992px) {
    .col20 {
      width: 20%; } }

.col30 {
  width: 33.3333%; }
  @media (max-width: 600px) {
    .col30 {
      width: 100%; } }
  @media (min-width: 600px) {
    .col30 {
      width: 100%; } }
  @media (min-width: 992px) {
    .col30 {
      width: 33.3333%; } }

.col40 {
  width: 40%; }
  @media (max-width: 600px) {
    .col40 {
      width: 100%; } }
  @media (min-width: 600px) {
    .col40 {
      width: 100%; } }
  @media (min-width: 992px) {
    .col40 {
      width: 40%; } }

.col50 {
  width: 50%; }
  @media (max-width: 600px) {
    .col50 {
      width: 100%; } }
  @media (min-width: 600px) {
    .col50 {
      width: 100%; } }
  @media (min-width: 992px) {
    .col50 {
      width: 50%; } }

.col60 {
  width: 60%; }
  @media (max-width: 600px) {
    .col60 {
      width: 100%; } }
  @media (min-width: 600px) {
    .col60 {
      width: 100%; } }
  @media (min-width: 992px) {
    .col60 {
      width: 60%; } }

.col70 {
  width: 70%; }
  @media (max-width: 600px) {
    .col70 {
      width: 100%; } }
  @media (min-width: 600px) {
    .col70 {
      width: 100%; } }
  @media (min-width: 992px) {
    .col70 {
      width: 70%; } }

.col80 {
  width: 80%; }
  @media (max-width: 600px) {
    .col80 {
      width: 100%; } }
  @media (min-width: 600px) {
    .col80 {
      width: 100%; } }
  @media (min-width: 992px) {
    .col80 {
      width: 80%; } }

.pageWidth {
  width: 70%;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 600px) {
    .pageWidth {
      width: 95%; } }
  @media (min-width: 600px) {
    .pageWidth {
      width: 90%; } }
  @media (min-width: 992px) {
    .pageWidth {
      width: 80%; } }
  @media (min-width: 1250px) {
    .pageWidth {
      width: 70%; } }

.fullWidth {
  width: 100%; }

.blockText {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 600px) {
    .blockText {
      padding: 20px; } }
  @media (min-width: 600px) {
    .blockText {
      padding: 20px; } }
  @media (min-width: 992px) {
    .blockText {
      padding: 20px; } }
  @media (min-width: 1250px) {
    .blockText {
      padding: 50px; } }

.textWrap {
  padding: 50px;
  width: 70%;
  margin: 0 auto; }
  @media (max-width: 600px) {
    .textWrap {
      width: 90%;
      padding: 20px; } }
  @media (min-width: 600px) {
    .textWrap {
      width: 90%;
      padding: 20px; } }
  @media (min-width: 992px) {
    .textWrap {
      padding: 50px;
      width: 70%; } }

.hero {
  position: relative;
  z-index: 1;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media (max-width: 600px) {
    .hero {
      height: 50vh; } }
  @media (min-width: 600px) {
    .hero {
      height: 80vh; } }
  @media (min-width: 992px) {
    .hero {
      height: 90vh; } }

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 90vh;
  width: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.3); }
  @media (max-width: 600px) {
    .heroOverlay {
      height: 50vh; } }
  @media (min-width: 600px) {
    .heroOverlay {
      height: 80vh; } }
  @media (min-width: 992px) {
    .heroOverlay {
      height: 90vh; } }

.mediumHero {
  position: relative;
  z-index: 1;
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.mediumHeroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 50vh;
  width: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.3); }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (max-width: 600px) {
    .flex-container {
      flex-direction: column; } }
  @media (min-width: 600px) {
    .flex-container {
      flex-direction: column; } }
  @media (min-width: 992px) {
    .flex-container {
      flex-direction: row; } }

.flex-container-reverse {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (max-width: 600px) {
    .flex-container-reverse {
      flex-direction: column-reverse; } }
  @media (min-width: 600px) {
    .flex-container-reverse {
      flex-direction: column-reverse; } }
  @media (min-width: 992px) {
    .flex-container-reverse {
      flex-direction: row; } }

.centerAlignedContainer {
  display: flex;
  align-items: center; }

.centeredContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }

.textWrap {
  width: 90%;
  padding: 20px; }
  @media (min-width: 992px) {
    .textWrap {
      padding: 50px;
      width: 70%;
      margin: 0 auto; } }

.blockImage {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin: 10px 0; }

.image {
  width: 100%;
  height: auto; }

.textBlock {
  padding: 0;
  margin: 50px 0 50px 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.greyBlock {
  padding: 100px 0 100px 0;
  background: #F6F6F6; }

.whiteBlock {
  padding: 100px 0 100px 0;
  background: #FFFFFF; }

.blackBlock {
  background: #232323; }

.page-content {
  position: relative;
  z-index: 2;
  margin-top: 50vh;
  background: #FFFFFF; }

@media (max-width: 600px) {
  .smallPaddedSection {
    padding: 25px 0 25px 0; } }
@media (min-width: 600px) {
  .smallPaddedSection {
    padding: 25px 0 25px 0; } }
@media (min-width: 992px) {
  .smallPaddedSection {
    padding: 50px 0 50px 0; } }

.paddedSection {
  padding: 100px 0 100px 0; }

/*4.0 Header Styling -------------------------------------------*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 70px;
  width: 100vw; }

.main-navigation {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(42, 42, 42, 0.2); }
  @media (max-width: 600px) {
    .main-navigation {
      height: 70px; } }

.secondaryNavigation {
  height: 40px;
  margin: 0 auto;
  width: 100%;
  background: #0080c5;
  display: flex;
  align-items: center; }

.menuLinkWrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.secondaryMenuWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.secondaryLink {
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
  transition: .3s ease all;
  font-size: 16px; }
  .secondaryLink:hover {
    color: #F6F6F6;
    transition: .3s ease all; }
  @media (max-width: 600px) {
    .secondaryLink {
      padding: 0 10px 0 10px;
      font-size: 12px; } }

.site-content {
  margin-top: 35px; }

.entry-header {
  display: none; }

.siteLogo {
  margin-top: 6px;
  height: auto;
  width: 250px; }
  @media (max-width: 600px) {
    .siteLogo {
      width: 125px; } }

nav {
  width: 100%; }

.menuText {
  cursor: pointer;
  font-size: 26px;
  padding-right: 10px;
  color: #0080c5;
  text-decoration: none;
  transition: .3s ease-out all; }

.menuTextWrap {
  display: flex;
  margin-left: 10px;
  right: 100px;
  padding: 20px; }

.menuBars {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  padding-top: 8px; }
  .menuBars span {
    display: block;
    position: relative;
    background-color: #0080c5;
    height: 3px;
    width: 100%;
    margin-top: 4px; }

.menu {
  position: absolute;
  top: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  transform: translateX(-100%);
  transition: .2s ease-out all; }

.open {
  position: fixed;
  transform: translate(0);
  transition: .1s ease-out all; }

#mobileMenuLogo {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  width: 200px; }

.linkWrap {
  position: absolute;
  width: 90%;
  text-align: center; }
  @media (max-width: 600px) {
    .linkWrap {
      top: 75px;
      padding: 0;
      margin-top: 30px; }
      .linkWrap a {
        color: #232323;
        text-decoration: none; }
      .linkWrap li {
        list-style-type: none;
        font-size: 1.414em;
        border-bottom: 1px solid #F6F6F6;
        display: flex;
        align-items: center;
        justify-content: space-between; } }
  @media (min-width: 600px) {
    .linkWrap {
      top: 150px;
      padding: 0;
      margin: 0; }
      .linkWrap a {
        color: #0080c5;
        text-decoration: none; }
      .linkWrap li {
        list-style-type: none;
        margin-top: 25px;
        font-size: 1.414em;
        border-bottom: 1px solid #F6F6F6;
        display: flex;
        align-items: center;
        justify-content: space-between; } }

.menuLink {
  position: relative;
  display: block;
  padding: 10px 20px 10px 20px;
  transition: .2s ease all;
  color: #FFFFFF; }

.menuLink:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 3px;
  background: #0080c5;
  transition: .3s ease all; }
.menuLink:hover:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 3px;
  background: #0080c5;
  transition: .3s ease all; }

.menu .active a {
  border-bottom: 2px solid #0080c5 !important;
  color: #FFFFFF;
  width: 100%;
  text-align: initial; }

.linkList2 .active a {
  margin-bottom: -1px;
  border-bottom: 3px solid #0080c5 !important;
  transition: .2s ease all; }

.closeMenu {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 50px; }

.linkList2 {
  display: none; }
  @media (min-width: 992px) {
    .linkList2 {
      display: flex;
      height: 70px;
      align-items: center;
      list-style-type: none;
      font-size: 16px;
      font-weight: 600; } }
  @media (min-width: 1250px) {
    .linkList2 {
      display: flex;
      height: 70px;
      align-items: center;
      list-style-type: none;
      font-size: 20px;
      font-weight: 600; } }
  .linkList2 a {
    color: #232323;
    text-decoration: none;
    transition: .3s ease all; }
    .linkList2 a:hover {
      color: #0080c5;
      transition: .3s ease all; }

.menuButtonWrap {
  display: flex;
  right: 30px; }
  @media (min-width: 992px) {
    .menuButtonWrap {
      display: none; } }

/* 5.0 Footer Stylings -------------------------------------------*/
.site-footer {
  position: relative;
  z-index: 2;
  background-color: #FFFFFF;
  width: 100%;
  color: #232323;
  padding: 0 0 50px 0;
  margin: 0 auto; }

.footerLogo {
  height: auto;
  width: 300px; }
  @media (max-width: 600px) {
    .footerLogo {
      width: 250px; } }
  @media (min-width: 600px) {
    .footerLogo {
      width: 250px; } }
  @media (min-width: 992px) {
    .footerLogo {
      width: 200px; } }
  @media (min-width: 1250px) {
    .footerLogo {
      width: 300px; } }

.footerContact {
  padding: 50px 0 50px 0;
  display: flex;
  align-items: center; }
  .footerContact a {
    text-decoration: none;
    color: #0080c5;
    transition: .3s ease all; }
    .footerContact a:hover {
      color: #004e79;
      transition: .3s ease all; }

@media (max-width: 600px) {
  #footerLogo {
    text-align: center; } }
@media (min-width: 600px) {
  #footerLogo {
    text-align: center; } }
@media (min-width: 992px) {
  #footerLogo {
    text-align: left; } }

.footerLinkWrap {
  text-align: right;
  display: flex;
  flex-direction: column; }
  @media (max-width: 600px) {
    .footerLinkWrap {
      text-align: center; } }
  @media (min-width: 600px) {
    .footerLinkWrap {
      text-align: center; } }
  @media (min-width: 992px) {
    .footerLinkWrap {
      text-align: right; } }
  @media (max-width: 600px) {
    .footerLinkWrap a {
      padding: 20px 0 20px 0; } }
  @media (min-width: 600px) {
    .footerLinkWrap a {
      padding: 20px 0 20px 0; } }
  @media (min-width: 768px) {
    .footerLinkWrap a {
      padding: 5px 0 5px 0; } }

.footerLink {
  position: relative;
  color: #0080c5;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin: 10px 0 10px 0;
  transition: .3s ease all;
  font-size: 20px; }
  .footerLink:after {
    position: absolute;
    height: 0;
    width: 3px;
    background: #0080c5;
    content: "";
    transition: .3s ease all;
    bottom: 12px;
    left: 0; }
  @media (max-width: 600px) {
    .footerLink {
      bottom: 0;
      width: 0%; } }
  .footerLink:hover:after {
    width: 3px;
    height: 50%;
    transition: .3s ease all; }

#footerEmail {
  font-size: 22px; }
  @media (max-width: 600px) {
    #footerEmail {
      font-size: 16px; } }

#copyrightWrap {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media (max-width: 600px) {
    #copyrightWrap {
      justify-content: center; } }
  @media (min-width: 600px) {
    #copyrightWrap {
      justify-content: center; } }
  @media (min-width: 992px) {
    #copyrightWrap {
      justify-content: left; } }

#copyright {
  background: #0080c5;
  color: #FFFFFF;
  margin-bottom: -50px;
  font-size: 16px;
  display: flex;
  flex-direction: row; }
  @media (max-width: 600px) {
    #copyright {
      font-size: 14px; } }
  @media (min-width: 600px) {
    #copyright {
      font-size: 14px; } }
  @media (min-width: 992px) {
    #copyright {
      flex-direction: row;
      font-size: 12px; } }
  @media (min-width: 1250px) {
    #copyright {
      flex-direction: row;
      font-size: 16px; } }
  #copyright a {
    text-decoration: none;
    color: #FFFFFF; }
  #copyright:hover {
    color: #F6F6F6; }

#copyrightContentWrap {
  display: flex;
  align-items: center;
  flex-direction: row; }
  @media (max-width: 600px) {
    #copyrightContentWrap {
      justify-content: center;
      flex-direction: column; } }
  @media (min-width: 600px) {
    #copyrightContentWrap {
      justify-content: center;
      flex-direction: column; } }
  @media (min-width: 992px) {
    #copyrightContentWrap {
      display: flex;
      align-items: center;
      flex-direction: row; } }

#copyrightLinkWrap {
  text-align: center; }
  #copyrightLinkWrap a {
    color: #FFFFFF;
    text-decoration: none; }
  #copyrightLinkWrap:hover {
    color: #004e79; }

#privacyWrap {
  display: flex;
  justify-content: center;
  align-items: center; }

.borderRight {
  border-right: 1px solid #FFFFFF;
  padding: 0 10px 0 10px; }

#privacyLink {
  padding: 0 10px 0 10px; }

#contactLink {
  padding: 0 10px 0 10px; }

#siteAuthor {
  text-align: right; }
  @media (max-width: 600px) {
    #siteAuthor {
      text-align: center;
      padding: 10px; } }
  @media (min-width: 600px) {
    #siteAuthor {
      text-align: center;
      padding: 10px; } }
  @media (min-width: 992px) {
    #siteAuthor {
      text-align: right; } }

#siteAuthorLink a {
  color: #FFFFFF;
  text-decoration: none; }
#siteAuthorLink:hover {
  color: #004e79; }

.noStyle {
  font-style: normal; }

/* 6.0 Site Typography -------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #020101;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.4em;
  font-weight: 700;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important; }

@media (max-width: 600px) {
  h1 {
    font-size: 1.4em; } }
@media (min-width: 600px) {
  h1 {
    font-size: 1.6em; } }
@media (min-width: 1250px) {
  h1 {
    font-size: 1.8em; } }

@media (max-width: 600px) {
  h2 {
    font-size: 1.4em; } }
@media (min-width: 600px) {
  h2 {
    font-size: 1.6em; } }
@media (min-width: 1250px) {
  h2 {
    font-size: 1.8em; } }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.707em; }

.whiteText {
  color: #FFFFFF;
  text-shadow: 0 2px 2px black; }

.primaryText {
  color: #0080c5;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }

.centerText {
  text-align: center; }

.underlinedHeading {
  position: relative; }
  .underlinedHeading:after {
    position: absolute;
    background: #0080c5;
    height: 2px;
    width: 200px;
    content: "";
    left: 0;
    bottom: -20px; }

/* 7.0 Button Stylings ---------------------------------------*/
.primaryButton {
  position: relative;
  z-index: 1;
  width: fit-content;
  border: 2px solid #0080c5 !important;
  border-radius: 30px !important;
  background: #0080c5 !important;
  padding: 10px 50px 10px 50px !important;
  color: #FFFFFF !important;
  text-shadow: 0 1px 1px black !important;
  text-decoration: none;
  margin-bottom: 10px !important;
  transition: .3s ease all !important;
  box-shadow: 1px 2px 10px rgba(42, 42, 42, 0.6) !important;
  cursor: pointer !important; }
  .primaryButton:hover {
    background: rgba(0, 0, 0, 0) !important;
    transition: .3s ease all !important;
    color: #0080c5 !important; }

.primaryButtonReverse {
  position: relative;
  z-index: 1;
  width: fit-content;
  border: 2px solid #0080c5;
  border-radius: 30px;
  padding: 10px 50px 10px 50px;
  color: #0080c5;
  margin-bottom: 10px;
  transition: .3s ease all;
  text-decoration: none;
  cursor: pointer; }
  .primaryButtonReverse:hover {
    background: #0080c5;
    transition: .3s ease all;
    color: #FFFFFF; }

.whiteButton {
  position: relative;
  z-index: 1;
  width: fit-content;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  background: #FFFFFF;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  color: #0080c5;
  transition: .3s ease all;
  cursor: pointer;
  box-shadow: 1px 2px 10px rgba(42, 42, 42, 0.6); }
  .whiteButton:hover {
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    transition: .3s ease all; }

.centerButton {
  margin: 0 auto;
  text-align: center; }

.buttonWrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 50px auto;
  text-align: center; }

/* 8.0 General Body Styles -------------------------------------------*/
body {
  background: #ffffff;
  margin: 0; }

::selection {
  background: rgba(0, 128, 197, 0.5); }

::-moz-selection {
  background: rgba(0, 128, 197, 0.5); }

.plainLink {
  text-decoration: none;
  color: #0080c5;
  transition: .3s ease all; }
  .plainLink:hover {
    color: #004e79;
    transition: .3s ease all; }

/*9.0 Icon Styling -------------------------------------------*/
.primaryIcon {
  color: #0080c5; }

.smallIcon {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden; }

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: #FFFFFF;
  fill: #FFFFFF; }

/* 10.0 Homepage stylings -------------------------------------------*/
#homeHero {
  background-image: url("../img/designBuildHeroLarge2.jpg"); }

#homeHeroTitle {
  font-size: 2em; }
  @media (min-width: 1250px) {
    #homeHeroTitle {
      font-size: 2.827em; } }

.heroHeadingWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  align-items: center;
  justify-content: center; }
  @media (max-width: 600px) {
    .heroHeadingWrap {
      display: none; } }
  @media (min-width: 600px) {
    .heroHeadingWrap {
      display: none; } }
  @media (min-width: 992px) {
    .heroHeadingWrap {
      display: flex; } }

.mobileHeroHeading {
  display: none; }
  @media (max-width: 600px) {
    .mobileHeroHeading {
      background: #1D1D1D;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 20px; } }
  @media (min-width: 600px) {
    .mobileHeroHeading {
      background: #1D1D1D;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 20px; } }
  @media (min-width: 992px) {
    .mobileHeroHeading {
      display: none; } }

#featuredProjectWrap {
  position: relative;
  background-image: url("../img/designBuild2Cropped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 120px 0 120px 0;
  height: 200px; }

#projectOverlay {
  background: rgba(0, 128, 197, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center; }

#heroHeading {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.homeHeading {
  background: rgba(0, 128, 197, 0.9);
  padding: 50px; }
  @media (max-width: 600px) {
    .homeHeading {
      padding: 20px; } }
  @media (min-width: 600px) {
    .homeHeading {
      padding: 50px; } }

@media (max-width: 600px) {
  .heroHeading {
    padding: 20px; } }
@media (min-width: 600px) {
  .heroHeading {
    padding: 10px; } }

.serviceImage {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto; }
  @media (max-width: 600px) {
    .serviceImage {
      width: 100%;
      margin: 20px 0 20px 0; } }
  @media (min-width: 600px) {
    .serviceImage {
      width: 100%;
      height: 100%;
      margin-bottom: 50px; } }
  @media (min-width: 992px) {
    .serviceImage {
      width: 100%;
      height: 100%;
      padding: 20px;
      margin-bottom: 0; } }
  .serviceImage a {
    text-decoration: none; }
  .serviceImage:hover .featureOverlay {
    opacity: 1;
    transition: opacity;
    transition: .3s ease all; }
  .serviceImage:hover .borderedOverlay {
    opacity: 1;
    transition: opacity;
    transition: .3s ease all; }
  .serviceImage:hover h3 {
    color: #0080c5;
    transition: .3s ease all; }

.logoWrap {
  padding: 20px; }

.certLogo {
  width: auto; }
  @media (max-width: 600px) {
    .certLogo {
      height: 100px; } }
  @media (min-width: 600px) {
    .certLogo {
      height: 100px; } }
  @media (min-width: 992px) {
    .certLogo {
      height: 60px; } }
  @media (min-width: 1250px) {
    .certLogo {
      height: 100px; } }

#testimonials {
  background-color: #232323;
  background-image: url("../img/maze-black.png");
  background-position: center center;
  height: 400px; }

.overlayWrap {
  position: relative;
  transform-style: preserve-3d; }
  .overlayWrap:before {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%; }
  .overlayWrap:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #333;
    box-shadow: 10px 10px 20px rgba(51, 51, 51, 0.7), 0 20px 50px 0 rgba(51, 51, 51, 0.2);
    -webkit-transform: translateZ(-20px);
    transform: translateZ(-20px);
    z-index: -1; }

.serviceTitle {
  position: absolute;
  width: 100%;
  top: 20%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  color: #FFFFFF; }
  @media (max-width: 600px) {
    .serviceTitle {
      top: 10%; } }

.title {
  padding: 50px 50px 10px 50px;
  transition: .2s ease all; }
  @media (max-width: 320px) {
    .title {
      padding: 10px 30px 10px 30px; } }

.desc {
  padding: 10px 50px 50px 50px; }
  @media (max-width: 320px) {
    .desc {
      padding: 10px 30px 10px 30px; } }
  @media (min-width: 1250px) {
    .desc {
      padding: 10px 70px 50px 70px; } }

.featureOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity;
  opacity: 0;
  transition: .3s ease all; }

.borderedOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  height: 80%;
  width: 80%;
  transition: opacity;
  opacity: 0;
  transition: .3s ease all;
  border: 2px solid #0080c5;
  transform: translateZ(50px); }

#services a {
  text-decoration: none; }

.CTAcontent {
  width: 60%; }
  @media (max-width: 600px) {
    .CTAcontent {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      padding: 20px; } }
  @media (min-width: 600px) {
    .CTAcontent {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      padding: 20px; } }

.siteCTAWrap {
  position: relative;
  background-image: url("../img/designBuild3Cropped.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px; }
  .siteCTAWrap a {
    text-decoration: none; }

.CTAoverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background: rgba(0, 128, 197, 0.7);
  z-index: 5;
  content: "";
  display: flex;
  align-items: center; }

/* 11.0 About Page Styling --------------------------------------- */
.teamHero {
  background-image: url("../img/TeamPic01.04.19Cropped.jpg"); }

@media (max-width: 600px) {
  #contactWrap {
    display: none; } }
@media (min-width: 600px) {
  #contactWrap {
    display: none; } }
@media (min-width: 768px) {
  #contactWrap {
    display: block;
    border: 2px solid #e6e6e6;
    padding: 20px; } }

#contactWrapEmail {
  font-size: 16px; }

.teamImages {
  padding: 20px; }
  @media (max-width: 600px) {
    .teamImages {
      padding: 0; } }
  @media (min-width: 600px) {
    .teamImages {
      padding: 0; } }
  @media (min-width: 992px) {
    .teamImages {
      padding: 20px; } }

.ownerName {
  margin-top: 20px !important; }

.listHeader {
  font-size: 22px;
  color: #0080c5;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 900; }

.bottomHeading {
  align-items: flex-end !important; }

.bioContainer {
  display: flex;
  text-align: center;
  flex-direction: column; }

.leftAlignText {
  text-align: left; }

/* 12.0 Who-We-Service Page Styling --------------------------------------- */
.iconWrap {
  display: flex;
  align-items: center; }

.serviceIcon {
  margin-left: 50px; }

.descWrap {
  padding: 0 50px 0 50px; }
  @media (max-width: 600px) {
    .descWrap {
      padding: 0 20px 0 20px; } }
  @media (min-width: 600px) {
    .descWrap {
      padding: 0 20px 0 20px; } }
  @media (min-width: 1250px) {
    .descWrap {
      padding: 0 50px 0 50px; } }

.industriesServiced {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.linkWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center; }
  .linkWrapper:hover .smallChevron {
    transition: .2s ease all;
    margin-left: 15px;
    color: #004e79 !important; }

.borderLeft {
  border-left: 0.5px solid #0080c5; }

.smallChevron {
  font-size: 16px;
  margin-left: 10px;
  transition: .2s ease all; }

/* 13.0 Privacy Policy -------------------------------------------*/
#privacyPolicy {
  margin-top: 200px; }

/* 14.0 Sitemap -------------------------------------------*/
#sitemap {
  margin-top: 200px; }

.sublink {
  margin-left: 50px; }

/* 15.0 Contact -------------------------------------------*/
.contactWrap {
  margin: 0 auto;
  margin-bottom: 50px; }

#primaryContact {
  display: flex;
  flex-direction: column; }
  #primaryContact input, #primaryContact select {
    margin-top: 10px !important;
    margin-bottom: 10px;
    padding: .7em;
    border: none;
    transition: .3s ease all;
    border-radius: 5px;
    height: 60px;
    box-shadow: 2px 2px 10px rgba(42, 42, 42, 0.4);
    font-size: 18px !important; }
  #primaryContact textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .7em;
    border: none;
    border-bottom: 2px solid #fff;
    transition: .3s ease all;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(42, 42, 42, 0.4);
    font-size: 18px !important; }
  #primaryContact :focus {
    outline: none;
    border-bottom: 2px solid #0080c5;
    transition: .3s ease all; }
  #primaryContact input[type="submit"] {
    margin-top: 10px;
    border-bottom: none;
    font-size: 18px; }

/* 16.0 Projects -------------------------------------------*/
.centeredProjectImage {
  margin: 0 auto; }

.primaryProjectImage {
  margin-top: 25px; }

.projectInrto {
  margin-top: 200px; }

.projectGalleryImage {
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 768px) {
    .projectGalleryImage {
      margin-left: 20px;
      margin-right: 20px; } }

.galleryHeader {
  margin-bottom: 25px !important; }

@media (max-width: 600px) {
  .projectsIntro {
    width: 95%;
    margin: 0 auto; } }
@media (min-width: 600px) {
  .projectsIntro {
    width: 95%;
    margin: 0 auto; } }
@media (min-width: 768px) {
  .projectsIntro {
    width: 70%;
    margin: 0 auto; } }
@media (min-width: 1250px) {
  .projectsIntro {
    width: 50%; } }

.projectLinkWrap {
  width: 35%;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
