<a id="skipMainContent" href="#main-content" class="skip-nav">Skip to Main Content</a>

<nav class = "menu" role="navigation" aria-label="Mobile Menu">

	<a href="https://straightlinerefrigeration.com/" aria-label="Straightline Refrigeration logo link to homepage"><img src="{{ site.baseurl }}/img/logos/logoWhiteMedium.png" id="mobileMenuLogo" alt="Straightline Refrigeration Logo"></a>

		<div class = "linkWrap">

			<ul class="linkList">

				<li>

					<a href = "https://straightlinerefrigeration.com/" class="menuLink" aria-label="Link to home page" role="link" tabindex="-1">HOME</a>

				</li>

				<li>

					<a href = "{{ site.baseurl }}/about/" class="menuLink" aria-label="Link to about page" role="link" tabindex="-1">ABOUT</a>

				</li>

				<li>

					<a href = "{{ site.baseurl }}/projects/" class="menuLink" aria-label="Link to projects page" role="link" tabindex="-1">PROJECTS</a>

				</li>

				<li>

					<a href = "{{ site.baseurl }}/contact/" class="menuLink" aria-label="Link to contact page" role="link" tabindex="-1">CONTACT US</a>

				</li>

			</ul>

		</div>

		<div class = "closeMenu" aria-label="close mobile menu">

			<svg xmlns = "https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" id ="Layer_1" x="0px" y="0px" width="20px" height = "20px" viewBox = "0 0 20 20" xml:space="preserve" class="svg-raw replaced-svg">

				<path fill = "#0080c5" d="M18.19,19.771l-8.153-8.152l-8.152,8.153l-1.603-1.604l8.152-8.152L0.281,1.862L1.886,0.26l8.152,8.152  l8.154-8.153l1.602,1.604l-8.152,8.153l8.153,8.154L18.19,19.771z">

				</path>

			</svg>

		</div>

	</nav>

<div id="page" class="site">

	<header id="masthead" class="site-header" role="banner">

		<nav role="navigation" aria-label="desktop sub navigation">

			<div class="secondaryNavigation" aria-label="Secondary Navigation">

				<div class="pageWidth secondaryMenuWrap">

						<svg class="smallIcon" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">

							<defs>

								<symbol id="icon-phone" viewBox="0 0 32 32">

									<title>phone</title>

									<path d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>

								</symbol>

							</defs>

						</svg>

						<svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>

					<a href="tel:(920)903-1043" class="secondaryLink" aria-label="Link to call straighline refrigeration">(920) 903-1043</a>

				</div>

			</div>

		</nav>

		<div id="site-navigation" class="main-navigation" role="banner" aria-label="Primary Navigation">

			<nav role="navigation" aria-label="primary navigation">

				<div class="pageWidth menuLinkWrap">

						<a href="https://straightlinerefrigeration.com/" aria-label="Straightline Refrigeration logo and link to homepage"><img src="{{ site.baseurl }}/img/logos/logoWhiteMedium.png" class="siteLogo" alt="Straightline Refrigeration Logo"></a>

						<ul class="linkList2">

							<li>

								<a href = "{{ site.baseurl }}/" class="menuLink" aria-label="Link to home page" role="link">HOME</a>

							</li>

							<li>

								<a href = "{{ site.baseurl }}/about/" class="menuLink" aria-label="Link to about page" role="link">ABOUT</a>

							</li>

							<li>

								<a href = "{{ site.baseurl }}/projects/" class="menuLink" aria-label="Link to projects page" role="link">PROJECTS</a>

							</li>

							<li>

								<a href = "{{ site.baseurl }}/contact/" class="primaryButton" aria-label="Link to contact page" role="link">CONTACT US</a>

							</li>

						</ul>

						<div class = "menuButtonWrap" aria-label="mobile menu toggle button">

							<div class = "menuTextWrap">

								<span class = "menuText">Menu</span>

								<span class = "menuBars">

									<span></span>

									<span></span>

									<span></span>
								</span>

							</div>

						</div>

				</div>

			</nav>

		</div><!-- #site-navigation -->

	</header><!-- #masthead -->
