/* 11.0 About Page Styling --------------------------------------- */
.teamHero{
  background-image: url("../img/TeamPic01.04.19Cropped.jpg");
}
#contactWrap{
  @include breakpoint(smallScreen){
    display: none;
  }
  @include breakpoint(largeMobileScreen){
    display: none;
  }
  @include breakpoint(tabletScreen){
    display: block;
    border: 2px solid #e6e6e6;
    padding: 20px;
  }
}
#contactWrapEmail{
  font-size: 16px;
}
.teamImages{
  padding: 20px;
  @include breakpoint(smallScreen){
    padding: 0;
  }
  @include breakpoint(largeMobileScreen){
    padding: 0;
  }
  @include breakpoint(laptopScreen){
    padding: 20px;
  }
}
.ownerName{
  margin-top: 20px !important;
}
.listHeader{
  font-size: 22px;
  color: $primaryColor;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 900;
}
.bottomHeading{
  align-items: flex-end !important;
}
.bioContainer{
  display: flex;
	text-align: center;
	flex-direction: column;
}
.leftAlignText{
  text-align: left;
}
