/* 11.0 About Page Styling --------------------------------------- */
#aboutHero{
  background-image: url("../img/companyPhotoCropped.jpg");
}
#contactWrap{
  border: 2px solid #e6e6e6;
  padding: 20px;
}
#contactWrapEmail{
  font-size: 16px;
}
.teamImages{
  padding: 20px;
  @include breakpoint(smallScreen){
    padding: 0;
  }
  @include breakpoint(laptopScreen){
    padding: 20px;
  }
}
.ownerName{
  margin-top: 20px !important;
}
