/* 3.0 Our page layouts -------------------------------------------*/
.col20{
	width: 20%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 20%;
    }
}
.col30{
	width: 33.3333%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 33.3333%;
    }
}
.col40{
	width: 40%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 40%;
    }
}
.col50{
	width: 50%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.col60{
	width: 60%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 60%;
    }
}
.col70{
	width: 70%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 70%;
    }
}
.col80{
  width: 80%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 80%;
    }
}
.pageWidth{
		width: 70%;
		height: 100%;
		margin: 0 auto;
      @include breakpoint(smallScreen){
        width: 95%;
      }
      @include breakpoint(largeMobileScreen){
        width: 90%;
      }
      @include breakpoint(laptopScreen){
        width: 80%;
      }
			@include breakpoint(largeScreen){
        width: 70%;
      }
	}
.fullWidth{
  width: 100%;
}
.blockText{
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    @include breakpoint(smallScreen){
      padding: 20px;
    }
    @include breakpoint(largeMobileScreen){
      padding: 20px;
    }
    @include breakpoint(laptopScreen){
      padding: 20px;
    }
		@include breakpoint(largeScreen){
			padding: 50px;
		}
}
.textWrap{
  padding: 50px;
  width: 70%;
	margin: 0 auto;
    @include breakpoint(smallScreen){
      width: 90%;
		  padding: 20px;
    }
    @include breakpoint(largeMobileScreen){
      width: 90%;
		  padding: 20px;
    }
    @include breakpoint(laptopScreen){
      padding: 50px;
      width: 70%;
    }
	}
.hero{
	position: relative;
	z-index: 1;
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    @include breakpoint(smallScreen){
      height: 50vh;
    }
    @include breakpoint(largeMobileScreen){
      height: 80vh
    }
    @include breakpoint(laptopScreen){
      height: 90vh;
    }
	}
.heroOverlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 90vh;
  width: 100%;
  content: "";
	background: rgba(0,0,0,.3);
  @include breakpoint(smallScreen){
    height: 50vh;
  }
  @include breakpoint(largeMobileScreen){
    height: 80vh
  }
  @include breakpoint(laptopScreen){
    height: 90vh;
  }
}
.mediumHero{
	position: relative;
	z-index: 1;
	height: 50vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.mediumHeroOverlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 50vh;
  width: 100%;
  content: "";
	background: rgba(0,0,0,.3);
}
.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    @include breakpoint(smallScreen){
      flex-direction: column;
    }
    @include breakpoint(largeMobileScreen){
      flex-direction: column;
    }
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.flex-container-reverse{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    @include breakpoint(smallScreen){
      flex-direction: column-reverse;
    }
    @include breakpoint(largeMobileScreen){
      flex-direction: column-reverse;
    }
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.centerAlignedContainer{
	display: flex;
	align-items: center;
}
.centeredContainer{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.textWrap{
	width: 90%;
	padding: 20px;
    @include breakpoint(laptopScreen){
      padding: 50px;
      width: 70%;
      margin: 0 auto;
    }
}
.blockImage{
	display: flex;
	max-width:100%;
	max-height: 100%;
	margin: 10px 0;
}
.image{
	width: 100%;
	height: auto;
}
.textBlock{
	padding: 0;
	margin: 50px 0 50px 0;
	background: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.greyBlock{
	padding: 100px 0 100px 0;
	background: $lightGrey;
}
.whiteBlock{
	padding: 100px 0 100px 0;
	background: $white;
}
.blackBlock{
	background: $black;
}
.page-content{
	position: relative;
	z-index: 2;
	margin-top: 50vh;
	background: $white;
}
.smallPaddedSection{
	@include breakpoint(smallScreen){
		padding: 25px 0 25px 0;
	}
	@include breakpoint(largeMobileScreen){
		padding: 25px 0 25px 0;
	}
	@include breakpoint(laptopScreen){
		padding: 50px 0 50px 0;
	}
}
.paddedSection{
	padding: 100px 0 100px 0;
}
