/* 16.0 Projects -------------------------------------------*/
.centeredProjectImage{
  margin: 0 auto;
}
.primaryProjectImage{
    margin-top: 25px;
}
.projectInrto{
  margin-top: 200px;
}
.projectGalleryImage{
  margin-left: 0;
  margin-right: 0;
    @include breakpoint(tabletScreen){
      margin-left: 20px;
      margin-right: 20px;
    }
}
.galleryHeader{
  margin-bottom: 25px !important;
}
.projectsIntro{
  @include breakpoint(smallScreen){
    width: 95%;
    margin: 0 auto;
  }
  @include breakpoint(largeMobileScreen){
    width: 95%;
    margin: 0 auto;
  }
  @include breakpoint(tabletScreen){
    width: 70%;
    margin: 0 auto;
  }
  @include breakpoint(largeScreen){
    width: 50%;
  }
}
.projectLinkWrap{
  width:35%;
  margin: 0 auto;
}
