/* 1.0 sitewide variables -------------------------------------------*/
$primaryColor: #E10000;
$secondaryColor: #1D1D1D;
$black: #020101;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #E6E6E6;
