/* 12.0 Who-We-Service Page Styling --------------------------------------- */
.iconWrap{
  display:flex;
  align-items:center;
}
.serviceIcon{
  margin-left: 50px;
}
.descWrap{
  padding: 0 50px 0 50px;
  @include breakpoint(smallScreen){
    padding: 0 20px 0 20px;
  }@include breakpoint(largeMobileScreen){
    padding: 0 20px 0 20px;
  }@include breakpoint(largeScreen){
    padding: 0 50px 0 50px;
  }
}
.industriesServiced{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.linkWrapper{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
  &:hover .smallChevron{
    transition: .2s ease all;
    margin-left: 15px;
    color: $secondaryColor !important;
  }
}
.borderLeft{
  border-left: .5px solid $primaryColor;
}
.smallChevron{
  font-size: 16px;
  margin-left: 10px;
  transition: .2s ease all;
}
