<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <div id="barba-wrapper">

    	<div class="barba-container">

        {{ content }}

      </div>

    </div>

    <!-- jQuery and Bootstrap -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Vanilla tilt -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/vanilla-tilt-min.js"></script>

    {% include footer.html %}
  </body>
</html>
